<div class="nested-fields text-start">
  <%= f.hidden_field :_destroy %>
  <div class="recipe_ingredient_inputBox d-flex justify-content-between mb-3">
    <%= f.text_field :name, placeholder: "材料名", class:"ingredient-name p-1 me-3", required:"required"%>
    <%= f.text_field :quantity, placeholder: "分量(半角英数字)", pattern: "^[0-9]+$", title:"半角英数字で入力して下さい。",  class:"ingredient-quantity p-1 me-2" ,required:"required"%>
    <div class="d-inline-block selectdiv unit">
      <%= f.collection_select(:unit_id, Unit.all, :id, :name, class:"ingredient-unit p-0") %>
    </div>
    <%= link_to '#', class: "remove-field-btn" do %>
      <%= image_tag 'ifn0498', class:"remove_fields" %>
    <% end %>
  </div>
</div>

