<div class="nested-fields border-bottom border-secondary my-3">
  <%= f.hidden_field :_destroy %>
  <div class="recipe_step_inputBox d-flex justify-content-around mb-3">
    <div class="step-sample-image my-auto me-1">
      <%= step_image(f, @recipe) %>
    </div>
    <div class="d-flex flex-column w-75">
      <p class="step_number mb-1"></p>
      <%= f.text_area :content, placeholder: "作り方をここに記述！", class:"step-content textArea"%>
    </div>
    <%= link_to '#', class: "remove-field-btn" do %>
      <%= image_tag 'trash.svg', class:"remove_fields" %>
    <% end %>
  </div>
    
  <div class="recipe_step_iamage_field my-3">
    <%= f.label :image, "手順の画像：", class: "" %>
    <%= f.file_field :image, accept: "image/*", class: "stepImage" %>
  </div>
</div>