<div class="recipe-index-item border border-dark mb-4 position-relative">
  <div class="recipe-image text-center">
    <%= link_to image_tag(recipe.get_recipe_index_image(217, 217)), recipe_path(recipe.id), class:"img-fluid" %>
  </div>
  
  <div class="recipe-index-title font-weight-bold text-truncate position-absolute">
    <%= recipe.title %>
  </div>

  <div class="recipe-index-time position-absolute">
    <span class="font-weight-bold"><%= view_time_data(recipe.total_time) %></span>
  </div>

  <div class="d-flex justify-content-center my-1">
    <span><%= review_average(recipe.reviews) %>/ 5.0</span>
    <span class="ms-2">レビュー件数(<%= recipe.reviews.count %>)</span>
    <%#= render "/public/recipes/review", recipe: recipe %>
  </div>
</div>

<!--<div class="recipe-index-item border border-dark mb-4">-->
<!--  <div class="recipe-image text-center">-->
<!--    <%#= link_to image_tag(recipe.get_recipe_index_image(217, 217)), recipe_path(recipe.id), class:"img-fluid" %>-->
<!--  </div>-->
  
<!--  <div class="recipe-index-title font-weight-bold text-truncate my-1">-->
<!--    <%#= recipe.title %>-->
<!--  </div>-->

<!--  <div class="recipe-index-time my-1">-->
<!--    <i class="far fa-clock"></i><span class="ps-2"><%#= view_time_data(recipe.total_time) %></span>-->
<!--  </div>-->

<!--  <div class="d-flex justify-content-center mb-2">-->
<!--    <%#= render "/public/recipes/review", recipe: recipe %>-->
<!--  </div>-->
<!--</div>-->