<div class="container  my-5">
  <div class="row">

    <div class="col-md-8 col-lg-9 md-4 mb-md-5 text-center recipe-show">
      <h1><%= @recipe.title %></h1>
    </div>

    <div class="col-md-4 col-lg-3 mt-3 mb-3 mb-lg-0 text-right">
      <div class="profile-link text-truncate">
        <%= link_to user_path(@recipe.user.id) do %>
          <%= image_tag @recipe.user.get_user_image(30,30), alt: "ユーザー画像", class:"user_profile_image" %>
          <span class="user_profile_name ps-2"><%= @recipe.user.name %></span>
        <% end %>
      </div>
    </div>
    
    <div class="col-12 mb-3 mb-lg-0 text-right">
      <span>作成日: </span><%= jp_time_date(@recipe.updated_at) %>
    </div>
    
    <% if signed_in? %>
      <% if authorized_user?(@recipe.user) %>
        <div class="col-12 d-flex justify-content-end mb-3">
          <%= link_to "レシピ編集", edit_recipe_path(@recipe.id), class: "btn btn-success me-3", 'data-turbolinks': false %>
          <%= link_to "レシピ削除", recipe_path(@recipe.id), method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: "btn btn-danger" %>
        </div>
      <% else %>
        <div class="col-12 d-flex justify-content-end mb-3">
          <div id="js-recipe_favorite_<%= @recipe.id %>">
            <%= render 'public/favorites/form', recipe: @recipe %>
          </div>
          <div class="report_icon ms-2">
            <%= link_to new_reports_path(id: @recipe.id), class:"btn btn-outline-secondary" do %>
              <span class=""><i class="far fa-flag fa-lg"></i></span>
            <% end %>
            <p class="report_comment">レシピを管理者へ報告</p>
          </div>
        </div>
      <% end %>
    <% end %>
    
    <div class="col-lg-6 mb-3 my-md-auto  text-center">
      <%= image_tag @recipe.get_recipe_image(480, 480), class: "img-fluid" %>

      <div class="d-flex justify-content-center mt-3">
        <span class="me-2"><%= review_average(@recipe.reviews) %></span>
        <%= render "/public/recipes/review_average", recipe: @recipe %>
        <span class="ms-2">(<%= @recipe.reviews.count %>)</span>
      </div>

      <% unless @recipe.reviews.empty? %>
        <div class="mt-2">
          <%= link_to "レビューを読む", { anchor: "review_contents" }, class: 'btn btn-sm btn-secondary' %>
        </div>
      <% end %>

    </div>

    <div class="col-lg-6">
      <div class="mb-3">
        <h5 class="font-weight-bold border-bottom border-secondary mb-3">レシピ紹介</h5>
        <p class="p-2"><%= br_attach(@recipe.content) %></p>
      </div>

      <div class="mb-3">
        <h5 class="font-weight-bold border-bottom border-secondary mb-3">ジャンル・カテゴリー</h5>
        <span class="p-2"><%= @recipe.category.genre.name %>、<%= @recipe.category.name %></span>
      </div>

      <div class="mb-3">
        <h5 class="font-weight-bold border-bottom border-secondary mb-3">調理時間</h5>
        <p class="p-2"><i class="fas fa-clock"></i><span class="ps-2"><%= view_time_data(@recipe.total_time) %></span></p>
      </div>

      <div class="mb-3">
        <h5 class="font-weight-bold border-bottom border-secondary mb-3">材料一覧</h5>
        <%= form_with model: @recipe, url: recipe_recalculation_path(@recipe.id), method: :get do |f| %>
          <table class="table">
            <thead>
              <tr>
                <th>材料名</th>
                <th class="text-right">分量</th>
                <th class="content-width_20"></th>
              </tr>
            </thead>
            <% @recipe.recipe_ingredients.each do |ingredient| %>
              <tbody>
                <tr>
                  <td class="text-break"><%= ingredient.name %></td>
                  <% if teaspoon_or_tablespoon?(ingredient) %>
                    <td class="text-right align-middle">
                      <%= ingredient.unit.name %><span><%=" "%></span><%= convert_rational(ingredient_quantity(ingredient)) %>
                    </td>
                  <% else %>
                    <td class="text-right align-middle">
                      <%= ingredient_quantity(ingredient) %><span><%=" "%></span><%= ingredient.unit.name %>
                    </td>
                  <% end %>
                  <td class="align-middle">
                    <%= f.number_field (ingredient.id).to_s,  placeholder: "分量", min: 0.1, step: 0.1, class:"ingredient-quantity d-block mx-auto text-center w-100"%>
                  </td>
                </tr>
              </tbody>
            <% end %>
            <% if session[:recalculation].present? %>
              <% session[:recalculation] = nil %>
            <% end %>
            <tbody>
              <tr class="text-center border-0">
                <td colspan="2" class="text-right">
                  <%= link_to "分量のリセット", recipe_path(@recipe.id), class:"btn btn-secondary" %>
                </td>
                <td><%= f.submit "再計算", class:"btn btn-primary" %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-11 mx-auto mb-3">
      <h5 class="font-weight-bold border-bottom border-secondary">作り方</h5>
      <table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th class="content-width_10"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @recipe.recipe_steps.each.with_index(1) do |step, i| %>
            <tr class="border-bottom">
              <td class="align-middle"><%= image_tag step.get_recipe_step_image(90, 90) %></td>
              <td class="text-left bottom-0">
                <h6><%= "Step.#{i}" %></h6>
                <p class="mb-0"><%= br_attach(step.content) %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <% unless @recipe.tags.empty? %>
      <div class="col-md-11 tag-group mx-auto mb-3">
        <h5 class="mx-auto font-weight-bold border-bottom border-secondary mb-3">タグ一覧</h5>
        <div class="tags d-flex flex-wrap">
        <% @recipe.tags.each do |tag| %>
          <%= link_to recipes_path(search: tag.name), class: "tag-item p-1 mb-1 mr-2" do %>
            <span class="pl-1"><i class="fas fa-tag"></i></span>
            <span class="px-2"><%= tag.name %></span>
          <% end %>
        <% end %>
        </div>
      </div>
    <% end %>

    <% if signed_in_and_not_guest_or_myself?(@recipe.user) %>
      <div class="col-md-11 mx-auto mt-3">
        <%= render "/public/recipes/review_new_form", recipe: @recipe, review: @review %>
      </div>
    <% end %>

    <% unless @recipe.reviews.empty? %>
      <div class="col-md-11 mx-auto mt-3" id="review_contents">
        <h5 class="font-weight-bold border-bottom border-secondary mb-3">レビュー<span class="ms-2">(<%= @recipe.reviews.count %>件)</span></h5>
        <% @recipe.reviews.each do |review| %>
          <div class="review_content my-3">
            <%= render "public/recipes/review_show", review: review %>
            <div class="mb-1"><%= link_to "投稿者：#{review.user.name}", user_path(review.user.id) %></div>
            <div class="mb-1"><%= br_attach(review.content) %></div>
            <div class="mb-1"><%= jp_time_date(review.created_at) %></div>
            <% if signed_in? && authorized_user?(review.user) %>
              <div class="mb-1"><%= link_to "このコメントを削除", review_path(id: review.id), method: :delete, data: { confirm: '削除してもよろしいですか？' }, class:"btn btn-sm btn-danger" %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
<%= javascript_pack_tag 'public/recipe_show' %>
<%= javascript_pack_tag 'public/text_field' %>