<h1>Public::Recipes#show</h1>
<p>Find me in app/views/public/recipes/show.html.erb</p>

<%= @recipe.title %><br>
<%= @recipe.content %><br>
<%= @recipe.total_time %><br>
<% @recipe.recipe_ingredients.each do |ingredient| %>
  <%= ingredient.name %>
  <%= ingredient.quantity %>
  <%= ingredient.unit.name %>
<% end %><br>
<% @recipe.recipe_steps.each do |step| %>
  <%= step.content %><br>
<% end %>
