<div class="container my-5">
  <div class="row mb-3">
    <!--<col-6で画像を-->
    <div class="col-8 mx-auto">
      <h2 class="d-inline-block p-1 rounded-2 text-bg-secondary">管理者ログイン</h2>
      <%= form_with model: @admin, url: session_path(resource_name) do |f| %>
  
        <div class="mb-3 mt-3">
          <%= f.label :email, "メールアドレス", { class: "form-label"} %>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            <%= f.email_field :email, { class: "form-control", autofocus: true, autocomplete: "email", placeholder: "cottura@example.com" } %>
          </div>
        </div>
  
        <div class="mb-3">
          <%= f.label :password, "パスワード", { class: "form-label"} %>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <%= f.password_field :password, { class: "form-control", autocomplete: "new-password", placeholder: "password" } %>
          </div>
        </div>
  
        <div class="">
          <%= f.submit "ログイン", class: "btn btn-lg btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
