<div class="container">
  <div class="row">
    <div class="col-4 mt-4">
      <%= form_with(model: @genre, url: admin_genres_path, method: :post, local: true) do |f| %>
        <%= f.text_field :name, placeholder: "ジャンル名", required:"required" %>
        <%= f.submit "ジャンル作成", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-8 mt-4">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>ジャンル名</th>
            <th>ジャンル内カテゴリー数</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @genres.each do |genre| %>
        <tbody>
          <tr>
            <td><%= genre.id %></td>
            <td><%= genre.name %></td>
            <td><%= genre.categories.count%></td>
            <td><%= link_to "編集", edit_admin_genre_path(genre.id), class:"btn btn-primary" %></td>
            <td><%= link_to "削除", admin_genre_path(genre.id), method: :delete, class:"btn btn-danger" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    
    <div class="col-4">
      <%= form_with(model: @category, url: admin_categories_path, method: :post, local: true) do |f| %>
        <%= f.text_field :name, placeholder: "カテゴリー名", required:"required" %>
        <%= f.collection_select(:genre_id, @genres, :id, :name, {}) %>
        <%= f.submit "カテゴリー作成", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-8">
 <div class="col-8 mt-4">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>カテゴリー名</th>
            <th>ジャンル名</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @categories.each do |category| %>
        <tbody>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td><%= category.genre.name %></td>
            <td><%= link_to "編集",  edit_admin_category_path(category.id), class:"btn btn-primary" %></td>
            <td><%= link_to "削除", admin_category_path(category.id), method: :delete, class:"btn btn-danger" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    
  </div>
</div>