<div class="container">
  <div class="row mt-4">

    <div class="col-md-4 m-auto">
      <%= form_with(model: @genre, url: admin_genres_path, method: :post, local: true) do |f| %>
        <div class="form-group">
          <h5>ジャンル作成</h5>
          <%= f.text_field :name, placeholder: "ジャンル名", class:"form-control", required:"required" %>
        </div>
        <div class="form-group">
          <%= f.submit "ジャンル作成", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-8 mx-auto">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>ジャンル名</th>
            <th class="align-middle text-center">ジャンル内カテゴリー数</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @genres.each do |genre| %>
        <tbody>
          <tr>
            <td class="align-middle"><%= genre.id %></td>
            <td class="align-middle"><%= genre.name %></td>
            <td class="align-middle text-center"><%= genre.categories.count %></td>
            <td class="align-middle"><%= link_to "編集", edit_admin_genre_path(genre.id), class:"btn btn-primary" %></td>
            <td class="align-middle"><%= link_to "削除", admin_genre_path(genre.id), method: :delete, class:"btn btn-danger" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row mt-4">

    <div class="col-md-4 mt-5">
      <%= form_with(model: @category, url: admin_categories_path, method: :post, local: true) do |f| %>
        <h5>カテゴリ作成</h5>
        <div class="form-group">
          <%= f.collection_select(:genre_id, @genres, :id, :name, {}, class:"form-control") %>
        </div>
        <div class="form-group">
          <%= f.text_field :name, placeholder: "カテゴリー名", class:"form-control", required:"required" %>
        </div>
        <div class="form-group">
          <%= f.submit "カテゴリー作成", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>カテゴリー名</th>
            <th>ジャンル名</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @categories.each do |category| %>
        <tbody>
          <tr>
            <td class="align-middle"><%= category.id %></td>
            <td class="align-middle"><%= category.name %></td>
            <td class="align-middle"><%= category.genre.name %></td>
            <td class="align-middle"><%= link_to "編集",  edit_admin_category_path(category.id), class:"btn btn-primary" %></td>
            <td class="align-middle"><%= link_to "削除", admin_category_path(category.id), method: :delete, class:"btn btn-danger" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    
  </div>
</div>