<%= render "layouts/error_messages", resource: resource %>
<div class="container my-5">
  <div class="row mb-3">
    <div class="col-8 mx-auto">
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <h2 class="d-inline-block p-1 rounded-2 text-bg-secondary">会員情報編集</h2>

        <div class="mb-3 mt-3">
          <%= f.label :email, "メールアドレス", { class: "form-label required"} %>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            <%= f.email_field :email, { class: "form-control", autocomplete: "email", placeholder: "cottura@example.com" } %>
          </div>
        </div>
      
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        
        
        <div class="mb-3">
          <%= f.label :password, "新しいパスワード(6文字以上)、変更しない場合は入力不要", { class: "form-label"} %>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <%= f.password_field :password, { class: "form-control", autocomplete: "new-password", placeholder: "new-password" } %>
          </div>
        </div>
        
        <div class="mb-3">
          <%= f.label :password_confirmation, "新しいパスワード(確認用)、変更しない場合は入力不要", { class: "form-label"} %>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <%= f.password_field :password_confirmation, { class: "form-control", autocomplete: "new-password", placeholder: "new-password_confirmation" } %>
          </div>
        </div>

        <div class="mb-3">
          <%= f.label :current_password, "現在のパスワード", { class: "form-label required"} %>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <%= f.password_field :current_password, { class: "form-control", autocomplete: "current-password", placeholder: "password" } %>
          </div>
        </div>
        
        <div class="d-flex text-center justify-content-between">
          <div class="actions">
            <%= f.submit "更新する", class: "btn btn-lg btn-success" %>
          </div>

          <div class="actions">
            <%= link_to "戻る", :back, class: "btn btn-lg btn-primary" %>
          </div>
          
          <div class="actions">
            <%= link_to "退会する", user_unsubscribe_path(current_user.id), class: "btn btn-lg btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  window.onload = addToNewUrl();
  function addToNewUrl() {
    let path = location.pathname;
    let pattern = /^.*\/edit.*$/
  
    if(path.match(pattern)) return;
    history.replaceState('', '', `${ path }/edit`)
  }
</script>
