<div class="container my-4">
  <div class="row mb-3">
    <div class="col-sm-10 mx-auto">
      <h2>ユーザー一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>投稿レシピ数</th>
            <th>アカウント状態</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tbody >
          <tr>
            <td class="align-middle"><%= image_tag user.get_user_image(50, 50), alt: "ユーザー画像", class:"user_profile_image" %></td>
            <td class="align-middle"><%= user.id %></td>
            <td class="align-middle"><%= link_to user.name, admin_user_path(user.id) %></td>
            <td class="align-middle"><%= user.email %></td>
            <td class="align-middle text-center"><%= user.recipes.count %></td>
            <td class="align-middle text-center"><%= user.active? %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>