<div class="container my-4">
  <div class="row mb-3">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>プロフィール画像</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>投稿レシピ数</th>
            <th>アカウント状態</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tbody>
          <tr>
            <td><%= image_tag user.get_user_image(100, 100), alt: "ユーザー画像", class:"user_profile_image" %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.content %></td>
            <td><%= user.is_active %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>