<div class="container my-4">
  <div class="row mb-3">
    <div class="col-sm-4 my-auto text-center text-sm-end mx-auto">
      <%= image_tag @user.get_user_image(200, 200), alt: "ユーザー画像", class:"user_profile_image"%>
    </div>
    <div class="col-sm-7 text-center text-sm-start offset-sm-1">
      <h2 class="mb-2 mt-3 mt-sm-0"><%= @user.name %>のキッチン</h2>
      <p><%= safe_join(@user.content.split("\n"),tag(:br)) %></p>
      <!--<p>< %= @user.content %></p>-->
      <% if @user.id == current_user.id && @user.email != 'guest@example.com' %>
        <div class="d-flex justify-content-evenly justify-content-sm-start">
          <div class="m-1">
            <%= link_to "プロフィール編集", edit_user_path, class:"btn btn-sm btn-success" %>
          </div>
          <div class="m-1">
            <%= link_to "会員情報編集", edit_user_registration_path, class:"btn btn-sm btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="tab-panel row">
    <!--タブ-->
    <ul class="tab-group mb-0">
      <li class="tab tab-A is-active col mx-2">投稿したレシピ</li>
      <li class="tab tab-B col mx-2">お気に入りレシピ</li>
    </ul>
    <!--タブを切り替えて表示するコンテンツ-->
    <div class="panel-group mt-2">
      <div class="panel tab-A is-show">
        <%= render 'public/users/recipe' %>
      </div>
      <div class="panel tab-B">
        <%= render 'public/users/a' %>
      </div>
    </div>
  </div>
  
</div>

<script>
  document.addEventListener('turbolinks:load', function() {
    // タブに対してクリックイベントを適用
    const tabs = document.getElementsByClassName('tab');
    for(let i = 0; i < tabs.length; i++) {
      tabs[i].addEventListener('click', tabSwitch, false);
    }
  
    // タブをクリックすると実行する関数
    function tabSwitch(){
      // タブのclassの値を変更
      document.getElementsByClassName('is-active')[0].classList.remove('is-active');
      this.classList.add('is-active');
      // コンテンツのclassの値を変更
      document.getElementsByClassName('is-show')[0].classList.remove('is-show');
      const arrayTabs = Array.prototype.slice.call(tabs);
      const index = arrayTabs.indexOf(this);
      document.getElementsByClassName('panel')[index].classList.add('is-show');
    };
  }, false);
</script>