<div class="container my-4">
  <div class="row mb-5">
    <div class="col-md-5 my-auto text-center text-md-right mx-auto">
      <%= image_tag @user.get_user_image(200, 200), alt: "ユーザー画像", class:"user_profile_image"%>
    </div>
    <div class="col-md-6 text-center text-md-left offset-md-1">
      <h2 class="mb-2 mt-3 mt-md-0"><%= @user.name %>のキッチン</h2>
      <p><%= br_attach(@user.content) %></p>
      <% if signed_in? && authorized_user_without_guest?(@user) %>
        <div class="d-flex justify-content-center justify-content-md-start">
          <div class="m-1">
            <%= link_to "プロフィール編集", edit_user_path, class:"btn btn-sm btn-success" %>
          </div>
          <div class="m-1">
            <%= link_to "ユーザー情報編集", edit_user_registration_path, class:"btn btn-sm btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tab-panel">
    <ul class="tab-group mb-0 p-0">
      <li class="tab tab-A is-active m-0">投稿したレシピ</li>
      <li class="tab tab-B no-active me-0">お気に入りレシピ</li>
    </ul>
    <div class="panel-group p-3">
      <div class="panel tab-A is-show">
        <%= render 'public/users/post_recipe_lists' %>
      </div>
      <div class="panel tab-B">
        <%= render 'public/users/favorites_recipes' %>
      </div>
    </div>
  </div>
  
</div>

<%= javascript_pack_tag 'public/user_show' %>