<div class="container my-4">
  <div class="row mb-5">
    <div class="col-md-5 my-auto text-center text-md-right mx-auto">
      <%= image_tag @user.get_user_image(200, 200), alt: "ユーザー画像", class:"user_profile_image"%>
    </div>
    <div class="col-md-6 text-center text-md-left offset-md-1">
      <h2 class="mb-2 mt-3 mt-md-0"><%= @user.name %>のキッチン</h2>
      <p><%= br_attach(@user.content) %></p>
      <% if user_signed_in? || admin_signed_in? %>
        <% if current_admin.present? || current_user.email != "guest@example.com" && @user.id == current_user.id %>
          <div class="d-flex justify-content-center justify-content-md-start">
            <div class="m-1">
              <%= link_to "プロフィール編集", edit_user_path, class:"btn btn-sm btn-success" %>
            </div>
            <div class="m-1">
              <%= link_to "ユーザー情報編集", edit_user_registration_path, class:"btn btn-sm btn-success" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="tab-panel">
    <ul class="tab-group mb-0 p-0">
      <li class="tab tab-A is-active m-0">投稿したレシピ</li>
      <li class="tab tab-B no-active me-0">お気に入りレシピ</li>
    </ul>
    <div class="panel-group p-3">
      <div class="panel tab-A is-show">
        <%= render 'public/users/post_recipe_lists' %>
      </div>
      <div class="panel tab-B">
        <%= render 'public/users/favorites_recipes' %>
      </div>
    </div>
  </div>
  
</div>

<script>
  document.addEventListener('turbolinks:load', function() {
    // タブに対してクリックイベントを適用
    const tabs = document.getElementsByClassName('tab');
    for(let i = 0; i < tabs.length; i++) {
      tabs[i].addEventListener('click', tabSwitch, false);
    }

    // タブをクリックすると実行する関数
    function tabSwitch(){
      // タブのclassの値を変更
      document.getElementsByClassName('is-active')[0].classList.add('no-active');
      document.getElementsByClassName('is-active')[0].classList.remove('is-active');
      this.classList.add('is-active');
      this.classList.remove('no-active');
      // コンテンツのclassの値を変更
      document.getElementsByClassName('is-show')[0].classList.remove('is-show');
      const arrayTabs = Array.prototype.slice.call(tabs);
      const index = arrayTabs.indexOf(this);
      document.getElementsByClassName('panel')[index].classList.add('is-show');
    };
  }, false);
</script>