<header class="sticky-top">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"></a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">  
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--ユーザーログイン時-->
      <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item mr-md-2 mb-lg-0">
              <%= link_to user_path(id: current_user.id), class: 'nav-link btn ' do %>
                <i class="fas fa-home"></i><%= " #{current_user.name}のキッチン" %>
              <% end %>
            </li>

            <li class="nav-item mr-md-2 mb-lg-0">
              <%= link_to recipes_path, class: 'nav-link btn ' do %>
                <i class="fas fa-book"></i><%= " レシピ一覧" %>
              <% end %>
            </li>

            <li class="nav-item mr-md-2 mb-lg-0">
              <%= link_to new_recipe_path, class: 'nav-link btn ', 'data-turbolinks': false do %>
                <i class="fas fa-pencil-alt"></i><%= "レシピを書く" %>
              <% end %>
            </li>

            <li class="nav-item mb-lg-0">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link btn ' do %>
                <i class="fas fa-sign-out-alt"></i><%= " ログアウト" %>
              <% end %>
            </li>
          </ul>
        </div>
        <!--管理者ーログイン時-->
      <% elsif admin_signed_in? %>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto" id="admin-nav">

            <li class="nav-item mr-md-1 mb-lg-0">
              <%= link_to admin_root_path, class: 'nav-link btn ' do %>
                <i class="fas fa-book"></i><%= " 管理者画面" %>
              <% end %>
            </li>

            <li class="nav-item mr-md-1 mb-lg-0">
              <%= link_to admin_users_path, class: 'nav-link btn ' do %>
                <i class="fas fa-users"></i><%= " ユーザー一覧" %>
              <% end %>
            </li>
            

            <li class="nav-item mr-md-1 mb-lg-0">
              <%= link_to recipes_path, class: 'nav-link btn ' do %>
                <i class="fas fa-book"></i><%= " レシピ一覧" %>
              <% end %>
            </li>

            <li class="nav-item mr-md-1 mb-lg-0">
              <%= link_to admin_genres_path, class: 'nav-link btn ' do %>
                <i class="fas fa-tags"></i><%= "ジャンル、カテゴリ一覧" %>
              <% end %>
            </li>

            <li class="nav-item mr-md-1 mb-lg-0">
              <%= link_to admin_units_index_path, class: 'nav-link btn ' do %>
                <i class="fas fa-tags"></i><%= "単位一覧" %>
              <% end %>
            </li>

            <li class="nav-item mb-lg-0">
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link btn ' do %>
                <i class="fas fa-sign-out-alt"></i><%= " ログアウト" %>
              <% end %>
            </li>
          </ul>
        </div>
        <!--非ログイン時-->
      <% else %>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item mr-md-2 mb-lg-0">
              <%= link_to recipes_path, class: 'nav-link btn' do %>
                <i class="fas fa-book"></i><%= " レシピ一覧" %>
              <% end %>
            </li>

            <li class="nav-item mr-md-2 mb-lg-0">
              <%= link_to new_user_registration_path, class: 'nav-link btn ' do %>
                <i class="fas fa-user-plus"></i><%= " 新規登録" %>
              <% end %>
            </li>

            <li class="nav-item mb-lg-0">
              <%= link_to new_user_session_path,  class: 'nav-link btn ' do %>
                <i class="fas fa-sign-in-alt"></i><%= " ログイン" %>
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </nav>
</header>