<!DOCTYPE html>
<html>
  <head>
    <title>Cottura</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <% if flash[:notice] %>
        <div class="alert alert-success mb-0" role="alert" style="background: #d1e7dd;">
          <i class="fas fa-check-circle me-2"></i><%= notice %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger mb-0" role="alert" style="background: #f8d7da;">
          <i class="fas fa-exclamation-triangle me-2"></i><%= alert %>
        </div>
      <% end %>
      <%= yield %>
      <%= debug params if Rails.env.development? %>
      <%= debug session[:category_id] if Rails.env.development? %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
